// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.game-header {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    z-index: 99;
    margin: auto;
  }
